# Runtime
PORT=8000
NODE_ENV=development

#****** CORS Origin ******
ORIGIN_FRONTEND=http://localhost:5173
ORIGIN_ADMIN=
ORIGIN_FRONTEND_WWW=

#****** Bcrypt Salt ******
SALT=10

#****** Token Secrets ******
ACCESS_SECRET=0EW72B9vq7teB8rERuP7Bo/K2RT7znqYmqZO3YjruGA=
REFRESH_SECRET=BpJmAWr+pIqtLphioN8+OndZeT4cPJ7uSbkTLrJomHs=

#****** SMTP Secrets ******
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SRC=true
SMTP_MAIL=
SMTP_PASSWORD=

#****** Google Auth ******
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#****** PostgreSQL Database ******
# Service name 'db' is used because backend and DB are on the same Docker network
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=my_project
DATABASE_URL=postgres://postgres:123456@localhost:5432/my_project

#****** Cloudinary ******
CLOUDINARY_NAME=
CLOUDINARY_APIKEY=
CLOUDINARY_APISECRET=

#****** MinIO ******
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=

#****** Razorpay ******
RAZORPAY_API_KEY=
RAZORPAY_API_SECRET=

#****** Google reCAPTCHA ******
GOOGLE_RECAPTCHA_SECRET_KEY=
