PORT=8000
NODE_ENV=development

#******CORS Origin******
ORIGIN_FRONTEND=""
ORIGIN_ADMIN=""
ORIGIN_FRONTEND_WWW=""

#******Bcrypt Salt******
SALT=10

#******Token Secret******
ACCESS_SECRET="$2a$12$751rI4BuymmdfPjPam0sVun749j7XfwgQyDqFL57YQWwBBFRzJkNS"
REFRESH_SECRET="Wkkqy+BRYneoSD3o+mSk4i7TBhrclaCVFiHNvf9AmAI="

#******SMTP Secrets******
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_SRC=false
SMTP_MAIL=""
SMTP_PASSWORD=""

#******Google Auth******
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#******Postgress Database******
DATABASE_URL=""

#******cloudinary******
CLOUDINARY_NAME=""
CLOUDINARY_APIKEY=""
CLOUDINARY_APISECRET=""

#******MINIO******
MINIO_ENDPOINT=""
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_BUCKET_NAME=""

#******Razorpay******
RAZORPAY_API_KEY=	""
RAZORPAY_API_SECRET=""

#******Google recapcha Credentials******
GOOGLE_RECAPTCHA_SECRET_KEY =""